@import '_variables';
@import '_mixin';
@import '_icomoon';
@import '~sass-rem';

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.view-box {
  height: 100%;
  overflow: hidden;
  background: $darkBlue;

  header {
    height: 120px;
    flex: 0 1 auto;
    
    > div {
      height: 100%;
      display: inline-block;

      &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .logo {
      width: 320px;
      padding-left: 4.5%;
      font-size: rem(36px);
    }
    .menu {
      > div {
        display: inline-block;
        margin: auto rem(20px);
        font-size: rem(28px);
      }
      a {
        color: $white;
      }
    }
    .rside-box {
      > div {
        display: inline-block;
      }
      a {
        color: $white;
      }
    }
  }
  article {
    &.main {
      flex: 1 1 auto;
    }
  }
}
.flex {
  display: flex;
  &.flex-vertical {
    flex-direction: column;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.pointer {
  cursor: pointer;
}