@import '_variables';
@import '_mixin';
@import '_icomoon';
@import '~sass-rem';

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.view-box {
  height: 100%;
  overflow: hidden;
  background: $darkBlue;

  aside {
    width: rem(380px);
    height: 100%;

    .top-block, .bottom-block {
      flex: 0 1 auto;
      padding-left: rem(12px);
    }
    .main-block {
      flex: 1 1 auto;

      a {
        font-size: rem(26px);
        padding: rem(18px) rem(48px);
        color: $whiteGray;
        display: block;
        width: 100%;
        height: 100%;

        &.active {
          background: rgba(255, 255, 255, 0.18);
        }
      }
    }
    .top-block {
      height: 12%;
      font-size: rem(26px);
      display: flex;
      align-items: center;

      .profile-photo {
        width: rem(80px);
        height: rem(80px);
        border: 1px solid $white;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
      }
      span {
        &.name {
          margin-left: rem(14px);
          font-weight: 500;
        }
      }
    }
    .bottom-block {
      height: 40%;

      a {
        font-size: rem(26px);
        padding: rem(18px) rem(48px);
        color: $whiteGray;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

  }
  article {
    &.main-container {
      height: 100%;
      width: calc(100% - #{rem(380px)});
      float: left;
      
      section {
        height: 100%;

        h2 {
          &.page-title {
            height: 70px;
            line-height: 70px;
            margin: 42px 68px 52px 70px;
            font-size: 30px;
            letter-spacing: 1px;
          }
        }
        .main-content {
          height: calc(100% - #{rem(100px)});

          .info-card {
            .ivu-card-body {
              width: 100%;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
.flex {
  display: flex;
  &.flex-vertical {
    flex-direction: column;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.pointer {
  cursor: pointer;
}