@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '_mixin';
@import '_icomoon';
@import '~sass-rem';
@import '_variables';
@import '_rwd';

html {
  @include rem-baseline;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
a {
  color: $white;
}

.view-box {
  height: 100%;
  overflow: hidden;
  background: $darkBlue;

  header {
    height: 86px;
    flex: 0 1 auto;
    
    > div {
      height: 100%;
      display: inline-block;

      &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &.gray {
      background-color: $darkGray;
    }
    .logo {
      padding-left: 4.5%;
      font-size: rem(36px);
      cursor: pointer;
    }
    .menu {
      > div {
        display: inline-block;
        margin: auto rem(20px);
        font-size: rem(20px);
      }
    }
    .ic-m-menu {
      padding-left: 1%;
      font-size: rem(36px);
    }
    .rside-box {
      > div {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  article {
    &.main {
      flex: 1 1 auto;
    }
  }
}
.flex {
  display: flex;
  &.flex-vertical {
    flex-direction: column;
  }
  &.flex-content__start {
    align-items: flex-start;
    justify-content: center;
  }
  &.flex-content__center {
    align-items: center;
    justify-content: center;
  }
  .stretch {
    flex: 1;
  }
  .fixed {
    flex: 0;
  }
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.icon, .pointer {
  cursor: pointer;
}
