@import '../_mixin';
@import '../_variables';
@import '../_icomoon';

$select-font-size: 18px;

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.map-container {
  height: 100%;
  width: 100%;
}
.floor-container {
  position: absolute;
  left: 10px;
  bottom: 30px;
  border-radius: 2px;
  background-color: rgba(94, 94, 94, 0.69);
  color: #fff;
  height: 72px;
  @include vertical-center-block();

  span.floor-pointer {
    font-size: $select-font-size;
    margin-left: 46px;

    &:before {
      font-size: 24px;
      position: absolute;
      left: 14px;
      margin-top: -3px;
    }
  }
  #changeFloor {
    background-color: #38c3ff;

    &:hover {
      background-color: #2db7f5;
    }
    &:focus {
      box-shadow: 0 0 0 2px rgba(45, 183, 245, .2);
    }
  }
}
#changeFloor {
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  color: #fefefe;
  font-size: 14px;
  font-weight: 500;
  margin: 0 18px;
  padding: 8px 16px;
  letter-spacing: 2px;
  box-sizing: content-box;
}
.message {
  font-size: 24px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: -44px;
  left: 0;
  pointer-events: none;
  font-size: 14px;
  transition: all .25s ease-in-out;
  opacity: 0;

  &.active {
    top: 14px;
    opacity: 1;
  }
  .message-notice {
    padding: 8px;
    text-align: center;
    margin-top: -8px;

    .message-notice-content {
      display: inline-block;
      pointer-events: all;
      padding: 8px 16px;
      border-radius: 4px;
      box-shadow: 0 1px 6px rgba(0,0,0,.2);
      background: #17a2b8;
      color: #fff;
      position: relative;
    }
  }
}